a {
	color: #009BDC;
}

.logo {
	padding-top: 20px;
	padding-bottom: 20px;
}

.wide {
	width: 100%;
	padding-bottom: 50px;
}

.header {
	text-align: center;
}

/*.img_container {
	padding-top: 820px;
	background: url('/static/images/WoCinTechChat1.jpg') no-repeat center top;
	width: 100%;
}
*/
.bottom_nav {
	text-align: center;
	color: #009BDC;
	width: 50%;
	margin: auto;
}