{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Six months of tuition-free tech training followed by internships at tech companies for local, low-income women and gender-nonconforming adults.</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content=
    "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    name="viewport">
    <meta content="Breather -- Get peace and quiet, on demand">
    <link rel="shortcut icon" href="{% static 'images/TechTonicLogo.ico' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/techtonic.css' %}">
</head>
<body>
	<div class="header">
		<img class="logo" src="{% static 'images/TechTonicLogoName.png' %}"></img>
<!-- 		<h2>Six months of tuition-free tech training followed by internships at tech companies for local, low-income women and gender-nonconforming adults.</h2> -->
	</div>
<!-- 	<div class="nav">
		<ul class="navlist">
			<li>A
		</ul>
	</div> -->
<!-- 	<div class="wide">
		<div class="img_overlay">
		</div>
		<div class="img_container">
			<img class="hero" src="{% static 'images/WoCinTechChat1.jpg' %}"></img>
		</div>
	</div> -->
	<img class="wide" src="{% static 'images/TechTonic2.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic3.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic4.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic5.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic6.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic7.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic8.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic9.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic11.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic12.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic13.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic14.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic16.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic17.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic19.jpg' %}"></img>
	<img class="wide" src="{% static 'images/TechTonic21.jpg' %}"></img>
	<div class="bottom_nav">
		<p>To support TechTonic, please email <a href="michelleglauser.com">Michelle Glauser</a> at michelleglauser at gmail dot com. To sign up to find out about workshops, <a href="http://bit.ly/free-coding-classes" target="_blank">please fill out this form</a>.</p>
	</div>
</body>
  
</html>
